code
    display: block
    width: 100%
    text-align: left

@media (min-width: 992px)
    #pruebas
        .embed-responsive
            max-width: 70%

@media (max-width: 767.98px)
    .index-info
        p
            text-align: justify